.img{
    width: 250px;
    height: 150px;
}
.span{
  text-align: center;
  margin: 20px;
  margin-left: 80px;
}

.span1{
    text-align: center;
    margin: 30px;
    margin-left: 140px;
    }

.span2{
    text-align: center;
    margin: 30px;
    margin-left: 200px;
        }

.span3{
    text-align: center;
    margin: 30px;
    margin-left: 190px;
            }
            
