.form-content {
    padding: 3%;
    border: 1px solid black;
    margin-bottom: 4%;
    padding-left: 70px;
}

.form-control {
    border-radius: 5px;
    padding: 2px;
    padding-bottom: 2px;
}
 


.btnSubmit {
    border: none;
    border-radius: 1.5rem;
    padding: 1%;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 10%;
    cursor: pointer;
    background: palevioletred;
    color: maroon;
}
